<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Vue</title>
    <script src="./js/vue.js"></script>
    <style>
        .active{
            color:white;
            background-color: brown;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- 这样就可以相当于一个开关一样的设定 -->
       <h1 v-if="ok">Yes</h1>
       <h1 v-else>No</h1>
       <button @click="ok=!ok">变化成{{!ok}}</button>       
       <h1 v-if="ok" >No</h1>
       <template v-if="loginType">
           <label>用户名</label>
           <input type="text" placeholder="输入您的用户名" key="1">
       </template>
       <template v-else>
            <label>Email</label>
            <!-- 这个与上面用的同一个类型的，实际是复用的，没重新渲染，只改了它的placeholder来达到切换的效果，加入key就不一样了 -->
            <input type="text" placeholder="输入您的邮箱" key="2">   
        </template>
        <button @click="loginType = !loginType">切换输入</button>
    </div>
            
    <script>   
        // 组件上加类名  
        Vue.component("my-component",{
            template: '<p class ="foo bar">Hi</p>'
        })
        
        // 这是一个设定数据，将样式设定为一个对象，跟react的stylesheet类似
        var vm = new Vue({
            el:"#app",
            // 以分散的数据来存各自的样式值
            data:{
                ok: true,
                loginType: true
            }
        })
        
    </script>    
</body>
</html>